:root {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    background-color: aliceblue;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    background-color: aliceblue;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;
    background-color: rgb(156, 156, 156);
    height: calc(100vh - 150px);
}

.new {
    padding: 12px;
    color: white;
    background-color: blue;
    border: 2px solid black;
    border-radius: 12%;
    font-weight: bold;
}

.grid {
    display: flex;
    width: 75vw;
    height: auto;
    flex: 1 0;
}

.grid > div {
    display: flex;
    border: 1px solid black;
}

.grid > div > :nth-child(16n + 1) {
    display: flex;
}